footer{
    text-align: center;
    position:fixed;
    bottom:0;
}

#navCart{
    position: fixed; 
    z-index:-1000;
    display: none;
    right:2%; 
    width:30%;
    padding:7px 30px;
    border-radius: 6px;
    height:70%;
    background-color:#343a40;
    color:white;
    text-align: center;
    overflow: hidden
}
.navCartItems{
    display:flex; justify-content:center; border:2px solid gray; padding:10px 14px
}

.verticalCenterText{
    height:100%; display:flex; align-items:center; justify-content:center;
    
}

.widthWrapper{
    width:100%;
}

.widthWrapper button:hover{
    transform: none
}

#cartClose{
    position: absolute;
    right:2%;
    top:0;
    font-size:1.5em;
    cursor: pointer;
}

#cartClose:hover{
    color:red;
}

.cartLabels{
    border-bottom:1px solid gray
}

#navCart img{
    width: 20%;
    height: 100px
}
#navCart p{
    margin-left:5%;
    font-size:.9em;
}

.navbar{position: sticky; top:0; z-index:1000 }

.logged{
    cursor: default;
    color:white !important
    
}

.cart form{
    width:100px;
    margin-top:5%
}



.trashicon{
    font-size:150%; 
    color:gray;
    opacity:0.8; 
    padding:0;
    cursor:pointer
}

.trashicon:hover{
    opacity:1
}


.addedToCart{
    animation: .8s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
        opacity:0;
        transform: translateY(-200%);
    }

    100% {
        opacity:1;
        transform: translateY(0);
    }
}



.springSale{
    color:white; 
    background-color:black; 
    padding:10% 5%; 
    width:80%; 
    margin:3% 0;
    border-radius: 20px;
    animation: .5s ease-out 0s 1 slideInFromLeft;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.clickedItem{
    text-align: center;
    padding:3%
    
}

.flexThings{
    display: flex
}

#fullProdForm button{
    margin-top:0.2%
}

.clickedItem img{
    width:40%;
    height: 70vh;
    
}
.clickedItem b{
    font-size:1.8em;
}

#clickedPrice{
    font-size:1.5em; 
    
}

.discountprice{
    margin-left:4.7%;
}

.close{
    color:red;
    opacity:1;
    font-size:2em;
    padding:5px;
    border-radius:5px;
    position: absolute;
    right:1.5%;
    cursor: pointer;
    text-decoration: none;
    top:1%
}
.close:hover{
    color:red;
    background-color:white
}

.viewFull{
    color:black;
    font-weight:bold;
    position: absolute;
    right:4%;
    opacity:0.8;
    text-decoration: none !important
}

.viewFull:hover{
    opacity:1;
    color:black;
}





.displayProds{
    margin: 7px 2px;
    text-align:center;
    width:24%;
    padding:0px 10px 60px 10px;
    border-radius:20px;
    cursor:pointer
}
.displayProds:hover{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
}
.displayProds img{
    width:80%;
    height:70%;
    position: relative;
    top:14%
    
}
#productContainer{
    position: relative;
}
input::first-letter{
    text-transform: capitalize
}

.aform{
    position: relative;
}
.aform:hover .viewItem{
    opacity: 1;
}

.unbutton{
    background:none;
    border:none;
}

.viewItem{
    height:50px;
    border-radius:4px;
    background:none;
    border:none;
    background-color:rgb(255, 229, 81);
    opacity:0;
    width:100%;
    transform: translateY(-60%);
    position: relative;
    transition: 1s
    
}
.viewItem:hover{
    background-color:rgb(255, 217, 0);
    transition:0
}

.ogprice{
    color:gray;
    font-size:70%;
    font-style:italic
}

.imgWrapper{
    background-color:rgba(14, 10, 10, 0.15);
    border-radius:10px;
    position: relative;
    height:40vh
}

.sizeText{
    color:gray;
    font-size:80%
}

 .imgWrapper:hover .viewItem{
    opacity:1;
} 

.flexProds{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.breaker{

        flex-basis: 100%;
        width: 0px;
        height: 0px;
        overflow: hidden;
    
}

#clicked{
    display:block
    
}

.orderSummaryItems{
    border:solid gray 2px; 
    padding: 70px
}

.adminSummary .card:nth-child(1){
    width:40%
}

.emailOnSummary{
    font-size:80%
}

#confirmer img{
    width: 60%;
    height:80%
}

.card{
    width:16.6%
}

body{}

.fullview{
    opacity:0;
    z-index:-99;
    position: fixed;
    transition:.5s;
    top:8%;
    left:26%;
    width:50%;
    text-align: center;
    background-color:rgba(255, 255, 255, 1);
    padding:30px 70px;
    border-radius:20px
}

#setNew{
    display:none;
}

.fullview b{
    border-bottom:2px solid black
}

.btn-primary{
    transform: translateY(75%);
    
    
}
.btn-secondary{
    cursor:pointer;
    padding:10px 25px;
}

.btn-secondary:hover{
    transform:scaley(1.06)
}

#navCart .btn-secondary:hover{
    transform: none
}

.fullview img{
    width:65%;
    margin-top:3%;
    height:45vh;
   
}


#emailtaken, #invalidinfo, #taken{
    color:#dc3445;
    font-size:95%;
    
}

.alert, .alert-success{
    text-align:center
}

#invalidinfo{
    text-align:center
}

h1, .centerthings{
    text-align:center
}

.centerthings-flex{
    display:flex;
    justify-content: center
}

.centerthings-flex-column{
    display:flex;
    align-items: center;
    flex-direction:column
}

.centerthings-flex-column h2{
    text-align: center
}

#modifyimg{
    width:32%;
    height:32%;
}
.toggleChange{
    color:blue;
    text-decoration:underline;
    cursor: pointer;
    opacity:0.85
}

.toggleChange:hover{
    opacity:1
}

#cancelChange{
    width:0%
}

.wrapthings{
    width:100%;
    border-bottom:3px solid black
}

.optionButtons{
    display:flex;
    justify-content: center;
    
}
.optionButtons button{
    margin: 0px 5px
}
.delete{
    position: absolute;
    top:20%;
    left:38%;
    border:5px dotted black;
    background-color:white;
    padding:50px;
    z-index:500000px;
}

.delete h4{
    text-align: center
}

.bg-item{
    opacity:0.6;
    pointer-events: none
}

.cancel,.confirm{
    padding:8px 30px;
    border-radius:10px;
    margin:5px;
    background-color:blue;
    color:white
}

.cancel:hover{
    background-color:darkblue;
}
.confirm:hover{
    background-color: darkblue;
}


.quanityBox{
    height:25px;
    width:10%
}

.nav-item a{
    color:gray
}

.nav-item a:hover{
    color:white
}

.fa, .fas{
    margin-right:10px
}
.navbar-brand{
    opacity:0.8
}

.navbar-brand:hover{
    opacity:1
}